html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ddc4aa;
}

.ui-container {
  background-color: #ddc4aa;
  background: radial-gradient(#ddc4aa, #f1e5d9);
}

.logo {
  text-align: center;
  /* color: #f9f2ed; */
  font-size: 3em;
}

h3 {
  text-align: left;
}

.create-project {
  /* color: #f4c781; */
  background-color: #f9f2ed;
  text-align: center;
  padding-bottom: 20px;
}

.project-input {
  display: inline-block;
}

.project-button {
  display: inline-block;
}

.add-palette {
  /* color: #f4c781; */
  background-color: #f9f2ed;
  text-align: center;
  padding-bottom: 20px;
}

.sample-palette {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 10px 0 10px;
}

.lock-icon {
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

#one {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#two {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#three {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#four {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#five {
  width: 100px;
  height: 100px;
  border: 2px solid lightgray;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.palette-in-project {
  font-size: 0.8em;
  /* color: #ddc4aa; */
}

#one-for-project {
  width: 14px;
  height: 14px;
  border: 0.5px solid lightgray;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#two-for-project {
  width: 14px;
  height: 14px;
  /* border: .5px solid lightgray; */
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#three-for-project {
  width: 14px;
  height: 14px;
  border: 0.5px solid lightgray;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#four-for-project {
  width: 14px;
  height: 14px;
  border: 0.5px solid lightgray;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#five-for-project {
  width: 14px;
  height: 14px;
  border: 0.5px solid lightgray;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.palette-in-project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.palette-name-in-project {
  margin-left: 5px;
  margin-right: 5px;
}

.circle-for-project {
  margin-left: 3px;
}

.palette-delete {
  height: 20px;
  margin-left: 10px;
}

.project-cards-container {
  /* margin: 0 auto; */
  /* width: 100%; */
  /* text-align: center; */
  display: flex;
  align-items: center;

  justify-content: space-around;
}

.saved-projects {
  display: flex;
  /* width: 100%; */
  /* margin: 0 auto; */
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
}

.project {
  margin: 20px;
}
